<ul id="language-selector" class="nav navbar-nav navbar-right">
    <li class="dropdown" id="language-dropdown">
        <a href="#"
           class="dropdown-toggle"
           data-toggle="dropdown">
            @NivesBrelihPhotography.Resources.Layout.LayoutText.Language
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.Slovenian, "ChangeLanguage", "Language", new { cultureName = "sl-SI" }, null)
                @*<a>@NivesBrelihPhotography.Resources.Layout.LayoutText.Slovenian</a>*@

            </li>
            <li>
                @*<a>@NivesBrelihPhotography.Resources.Layout.LayoutText.English</a>*@
                @Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.English, "ChangeLanguage", "Language", new { cultureName = "en-US" }, null)
            </li>
        </ul>
    </li>


</ul>

