@using Microsoft.Web.Helpers
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nives Brelih Photography</title>
    <meta name="description" content="Se stopite ob tem pogledu? Za več fotografij kliknite na povezavo." />
    <meta property="og:title" content="Nives Brelih Photography" />
    <meta property="og:description" content="Se stopite ob tem pogledu? Za več fotografij kliknite na povezavo." />
    <meta property="og:url" content="http://www.nivesbrelihphotography.si/" />
    <meta property="og:image" content="/Images/RichPreview/link_photo.jpg" />
    <link rel="icon" href="/nbpIcon.ico">
    <link rel="shortcut icon" href="/nbpIcon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    @Analytics.GetGoogleAsyncHtml("UA-92392838-1");
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CustomStyles", required: false)




</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="logo-container navbar-brand">
                    @Html.Partial("_Logo")
                </a>
                @*@Html.ActionLink("Nives Brelih Photography", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-xs" })
                @Html.ActionLink("NBPhotography", "Index", "Home", new { area = "" }, new { @class = "navbar-brand visible-xs" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.Blog, "index", "blog")</li>
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.Photos, "Index", "Portfolio")</li>
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.Albums, "Index", "Albums")</li>
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.References, "Index", "References")</li>
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.WorkingWith, "WorkingWith", "About")</li>
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.About, "Index", "About")</li>
                    <li>@Html.ActionLink(NivesBrelihPhotography.Resources.Layout.LayoutText.Conditions, "Index", "Conditions")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
                @*@Html.Partial("_LanguageSelectPartial")*@
            </div>
           


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>*@
            @*<p>&copy; @DateTime.Now.Year - Nives Brelih Photography</p>*@
        @*</footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
