@using NivesBrelihPhotography.Models.CategoryModels
@using NivesBrelihPhotography.Models.PhotoModels
@model IEnumerable<NivesBrelihPhotography.Models.PhotoModels.Photo>

@{
    ViewBag.Title = "Portfolio";
}
<br>
<div id="photos-portfolio" class="row">
    <div class="portfolio-categories-container">
        <ul id="portfolio-categories" class="categories row">
            @*category for all can be hardcoded*@
            @*calling masonry on updated targets with OnSuccess*@
            <li>
                @Ajax.ActionLink("All", "Index", null, new AjaxOptions() { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "photos", OnSuccess = "SetMasonryPhotosIndex()" }, null)
            </li>

            @*dynamical display of all categories*@
            @{
                foreach (Category category in ViewBag.Categories)
                {
                    <li role="presentation">
                        @Ajax.ActionLink(category.CategoryTitle, "Index", new { categoryId = category.CategoryId }, new AjaxOptions() { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "photos", OnSuccess = "SetMasonryPhotosIndex()" }, null)
                    </li>
                }
            }
        </ul>
    </div>

    <div id="photo-container" class="col-md-12">

        @Html.Partial("_indexPhotos", Model)

    </div>

    <div id="move-to-top">
        <span class="glyphicon glyphicon-menu-up"></span>
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/nicescroll")
    @Scripts.Render("~/bundles/page-index-scripts")
}

@section CustomStyles{
    @Styles.Render("~/Content/page-index-styles")
}



