@model NivesBrelihPhotography.Models.AboutModels.ViewModels.AboutIndexViewModel
@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomStyles{
    @Styles.Render("~/Content/about-index-styles")
}
<br/>

<div class="row masonry-layout">
    <div class="grid-sizer col-xs-12  col-md-6 col-lg-4"></div>
    <div class="col-xs-12 col-md-6 col-lg-4 masonry-content">
        <div id="profile-container" class="about-content-container">
            <div class="container-title">
                @NivesBrelihPhotography.Resources.About.AboutText.AboutMe
            </div>
            <div class="container-body">

                <img src="@Model.Profile.ProfilePhoto" alt="Soon.." class="img-responsive"/>

                <div class="profile-about">

                    @Model.Profile.About

                </div>
            </div>
        </div>
    </div>
    @*display only there are social links to display*@
    @if (Model.SocialLinks.Count > 0)
    {
        <div class="col-xs-12 col-md-6 col-lg-4 masonry-content">
            <div id="social-links-container" class="about-content-container">

                <div class="container-title">
                    @NivesBrelihPhotography.Resources.About.AboutText.SocialLinks
                </div>
                <div class="container-body">
                    <div class="row">
                        <ul>
                            @foreach (var link in Model.SocialLinks)
                            {
                                <li><a href="@link.Link"><img src="@link.IconLink" /><span class="social-link-description hidden-xs">@link.Description</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-xs-12 col-md-6 col-lg-4  masonry-content">
        <div id="contact-container" class="about-content-container">
            <div class="container-title">
                @NivesBrelihPhotography.Resources.About.AboutText.Contact
            </div>
            <div class="container-body">

                <ul>
                    <li>
                        
                        <script type="text/javascript">

                            document.write("<a href='mailto:@Model.Profile.ContactEmail'> <img src='/Images/Social_Media_Icons/Svg/envelope.svg' /></a>")

                        </script>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*display only if there are existing reviews*@
    @if (Model.PhotoShootReviews.Count > 0)
    {
        <div class="col-xs-12 col-md-6 col-lg-4  masonry-content">
            <div id="reviews-container" class="about-content-container">
                <div class="container-title">
                    @NivesBrelihPhotography.Resources.About.AboutText.Reviews
                </div>
                <div class="container-body">

                    <ul>
                        @foreach (var review in Model.PhotoShootReviews)
                        {
                            <li><span class="reviewer-name">@review.ReviewerName: </span>@review.ReviewIndexPage</li>
                        }
                    </ul>
                    <div class="show-more-reviews">
                        <a href="@Url.Action("Reviews")">@NivesBrelihPhotography.Resources.About.AboutText.ShowMore</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }   
</div>

@section scripts{
@Scripts.Render("~/bundles/about-index-scripts")
}

