@model NivesBrelihPhotography.Models.AboutModels.ViewModels.AboutIndexViewModel
@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomStyles{
    @Styles.Render("~/Content/about-index-styles")
}
<br/>

<div class="row masonry-layout">
    <div class="grid-sizer col-xs-12  col-md-6 col-lg-4"></div>
    <div class="col-xs-12 col-md-6 col-lg-4 masonry-content">
        <div id="profile-container" class="about-content-container">
            <div class="container-title">
                About Me
            </div>
            <div class="container-body">

                <img src="@Model.Profile.ProfilePhoto" alt="Soon.." class="img-responsive"/>

                <div class="profile-about">

                    @Model.Profile.About

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 masonry-content">
        <div id="social-links-container"class="about-content-container">

            <div class="container-title">
                Social Links
            </div>
            <div class="container-body">
                <div class="row">
                    <ul>
                        @foreach (var link in Model.SocialLinks)
                        {
                            <li><img src="@link.IconLink"/><span class="social-link-description hidden-xs">@link.Description</span></li>
                        }
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-4  masonry-content">
        <div id="contact-container" class="about-content-container">
            <div class="container-title">
                Contact
            </div>
            <div class="container-body">

                <ul>
                    <li><img src="~/Images/Social_Media_Icons/Svg/envelope.svg"/>@Model.Profile.ContactEmail</li>
                    <li><img src="~/Images/Social_Media_Icons/Svg/phone-call.svg"/> @Model.Profile.ContactPhone</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4  masonry-content">
        <div id="references-container" class="about-content-container">

            <div class="container-title">
                References
            </div>
            <div class="container-body">
                <ul>
                    @foreach (var reference in Model.References)
                    {
                        <li><a href="@Url.Action("Reference", new {referenceId = reference.ReferenceId})">@reference.Title</a></li>
                    }
                </ul>
            </div>

        </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-4  masonry-content">
        <div id="reviews-container" class="about-content-container">
            <div class="container-title">
                Reviews
            </div>
            <div class="container-body">

                <ul>
                    @foreach (var review in Model.PhotoShootReviews)
                    {
                        <li><span class="reviewer-name">@review.ReviewerName: </span>@review.ReviewIndexPage</li>
                    }
                </ul>
                <div class="show-more-reviews">
                    <a href="@Url.Action("Reviews")">Show More</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
   
    

</div>

@section scripts{
@Scripts.Render("~/bundles/about-index-scripts")
}

