@model NivesBrelihPhotography.Models.AboutModels.ViewModels.AboutIndexViewModel
@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/About_Section/about-index.css" rel="stylesheet" />
<style>
    
     .about-content-container {
         border: #eee solid 2px;
         border-radius: 2px;
         padding: 10px;
         padding-top: 30px;
         padding-bottom: 30px;


     }
    .about-content-container>.container-title {
        display: inline-block;
        background-color: #eb6864;
        padding: 6px;
        color: white;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.1em;

    }
    .social-icon {
        text-align: center;
    }

    .social-link-container {
        
        margin-right: 10px !important;
        margin-left: 10px !important;
        padding-bottom: 5px;
    }
    .social-description {
        min-height: 32px;
        line-height: 32px;
    }
    .profile-about {
        margin-top: 20px;

    }
    .social-link-container .social-description:hover {
        color: black;
    }
    #references-container ul {
        list-style-type: none;
        padding: 10px;
    }
    #references-container li>a {
        color:  #777777;
        cursor: pointer;
    }
    #references-container li :hover{
        color:  black;
        text-decoration: none;
    }
    #references-container>.container-body {

        text-align: center;
        
    }
    #profile-container>.container-body>img {
        margin: auto;
    }
    .social-description {
        color: #777777;
    }

    #social-links-container>.container-body>.row {
        text-align: center;
    }
    #social-links-container ul {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        padding: 0 !important;
        margin: 0 !important;
    }
    #social-links-container li>img {
        margin-right: 20px;

    }
    #social-links-container li {
        margin: 5px;
        text-align: left;
    }


</style>

<br/>
<br/>

<div class="row">

    <div class="col-lg-4">
        <div id="profile-container" class="about-content-container">
            <div class="container-title">
                About Me
            </div>
            <div class="container-body">
                
                <img src="@Model.Profile.ProfilePhoto" alt="Soon.." class="img-responsive"/>

                <div class="profile-about">
                    
                    @Model.Profile.About

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="social-links-container"class="about-content-container">

            <div class="container-title">
                Social Links
            </div>
            <div class="container-body">
                <div class="row">
                    <ul>
                        @foreach (var link in Model.SocialLinks)
                        {
                            @*<a href="@link.Link">
                    <div class="row social-link-container">
                        <div class="col-md-6 col-lg-4 social-icon">
                            <img src="@link.IconLink" />
                        </div>
                        <div class="col-md-6 col-lg-8 hidden-xs hidden-sm social-description">
                            @link.Description
                        </div>
                    </div>
                </a>*@
                            <li><img src="@link.IconLink"/><span class="social-link-description hidden-xs">@link.Description</span></li>
                        }
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-4">
        <div id="references-container" class="about-content-container">

            <div class="container-title">
                References
            </div>
            <div class="container-body">
                <ul>
                    @foreach (var reference in Model.References)
                    {
                        <li><a href="@Url.Action("Reference",new {referenceId=reference.ReferenceId})">@reference.Title</a></li>
                    }
                </ul>
            </div>

        </div>

    </div>

</div>

