@model NivesBrelihPhotography.Models.AboutModels.ViewModels.ReferenceDetailsView
@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomStyles{

    @Styles.Render("~/Content/about-reference-styles")

}

<br/>
<div id="content-container">

    <div class="selected-reference-description" data-reference-id="@Model.ReferenceId">
        <h3> @Model.Title </h3>

        @if (Model.Description.Trim().Length > 0)
        {
            <div class="row">
                <div class="col-md-8 selected-reference-text">
                    @Model.Description

                    @if (Model.ReferencePhotos.Count() != 0)
                    {
                        <hr>
                    }
                </div>
            </div>
        }

    </div>


    <div id="selected-reference-photos" >
        @foreach (var photo in Model.ReferencePhotos)
        {
            <div class="img-container reference-photo">
                <img src="@photo.PhotoUrl" class="img-responsive"/>
                <div class="img-description">
                    <span>@photo.PhotoTitle</span>
                </div>
            </div>
        }
    </div>
</div>



@section scripts{

    @Scripts.Render("~/bundles/about-reference-scripts")

}

