@model IEnumerable<NivesBrelihPhotography.Models.AboutModels.WorkingWith>

@{
    ViewBag.Title = "Sodelujem z";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">

    @foreach (var workingWith in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="working-with-container">
                @if (workingWith.Title != "" && workingWith.Title != "/")
                {
                    <header class="working-with-title">
                        @workingWith.Title
                    </header>
                }
                
                <section class="working-with-content">

                    @if ((workingWith.Description != "/" && workingWith.Description != "") || (workingWith.LinkText != "/" && workingWith.LinkText != ""))
                    {
                        <section class="working-with-information">
                            <section class="text">
                                @if (workingWith.Description != "" && workingWith.Description != "/")
                                {
                                    <p>@workingWith.Description</p>
                                }
                                @if (workingWith.LinkText != "" && workingWith.LinkText != "/")
                                {
                                    <a href="@workingWith.Link">@workingWith.LinkText</a>
                                }
                            </section>
                            <section class="anchor-right">
                                <span class="glyphicon glyphicon-search"></span>
                            </section>
                        </section>
                        <img src="@workingWith.PhotoUrl" alt="@workingWith.Title" class="img-responsive working-with-photo" />
                    }
                    else
                    {
                        <a href="@workingWith.Link">
                            <img src="@workingWith.PhotoUrl" alt="@workingWith.Title" class="img-responsive working-with-photo" />
                        </a>
                    }
                </section>
            </article>
        </div>
    }

</div>

@section scripts
{
    @Scripts.Render("~/bundles/working-with-scripts");
}

@section CustomStyles
{
    @Styles.Render("~/Content/working-with-styles");
}
