@model NivesBrelihPhotography.Models.BlogModels.ViewModels.Detail.BlogDetailsView

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomStyles{
    @Styles.Render("~/Content/EnlargePhotoStyles");
    @Styles.Render("~/Content/blog-view-styles");
}

<br/>

<div class="blog-description">
    <h3>
        @Model.BlogTitle
    </h3>
    <p class="blog-date">
        @Model.BlogDate.Day @Model.BlogDateMonthAsString
    </p>

    <ul class="blog-category-nav">
        @foreach (var category in Model.Categories)
        {
            <li><a href="@Url.Action("Index", new {categoryId = category.CategoryId})">@category.Category.CategoryTitle</a></li>
        }
    </ul>

    <div class="blog-content">
        @*insert html blog view markup from database*@
        @Html.Raw(WebUtility.HtmlDecode(Model.BlogContent))

        @if (Model.AlbumLink)
        {
            <hr/>
            <div class="row padding-sides-5p">
                <div class="pull-right">
                    <h5>More Photos</h5>
                </div>
            </div>
                <div class="row padding-sides-5p">

                    
                    <div class="col-md-push-6 col-md-6 col-lg-push-8 col-lg-4 no-side-padding">
                        <a href="@Url.Action("AlbumPhotos","Photos",new {albumId=Model.Album.PhotoAlbumId})">
                            <div class="img-container">
                                <img src="@Model.Album.AlbumPhotoUrl" class="img-responsive" />
                                <div class="album-background">
                                    <span class="album-name">@Model.Album.AlbumName<span class="album-date">@Model.Album.AlbumDateMonthAsString</span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                }
            </div>


</div>
<link href="~/Content/ImgDescriptions_Styles/album-cover-descriptions.css" rel="stylesheet" />

<style>

</style>

@section Scripts{
<script src="~/Scripts/ImgDescription_Scripts/cover-descriptions-scripts.js"></script>
    @*Scripts render*@
    @Scripts.Render("~/bundles/EnlargePhotoScript");
    @Scripts.Render("~/bundles/blog-view-scripts");

    <script>
        EnableShowBackgroundOnHover(".row > .no-side-padding",".img-container","albums")
    </script>
}