@using System.Activities.Statements
@using System.Diagnostics.Eventing.Reader
@model NivesBrelihPhotography.Models.PhotoModels.ViewModels.AlbumAndPhotosView
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/album-photos-from-blog-styles")

<div id="content-container" class="album-view-wrapper">

    <div class="album-view-description" data-album-id="@Model.AlbumDescription.AlbumId">
        <div class="description-wrapper">
            <div class="text-wrapper">
                <div class="title">
                    @*<h4>@Model.AlbumDescription.AlbumName</h4>*@
                    <h3>@Model.AlbumDescription.AlbumName</h3>
                </div>
                <div class="date">
                    @Model.AlbumDescription.AlbumDate
                </div>
                <div class="description hidden-xs hidden-sm">
                    <p>@Model.AlbumDescription.AlbumText</p>
                </div>
            </div>



        </div>
        <div class="background-img" style="background: url('/Images/Photos/ORG/@Model.AlbumDescription.AlbumCover'); background-size: cover; background-position: center;">
            <div class="glyphicon glyphicon-menu-down"></div>
        </div>
    </div>
    @*visible on smaller sscreens instead of big cover photo*@
    <div class="album-view-description-small-screen">
        <br />
        <h3>@Model.AlbumDescription.AlbumName</h3>
        <p class="date">@Model.AlbumDescription.AlbumDate</p>
        <p class="description">@Model.AlbumDescription.AlbumText</p>
        <hr />
    </div>
    <div id="photos" class="masonry-layout album-body" data-photo-type="photos">
        <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
        @foreach (var photo in Model.AlbumPhotos)
        {
            <div class="masonry-image img-container col-xs-12 col-sm-6 col-md-4">
                <div class="img-wrapper">
                    <a href="~/Images/Photos/MID/@photo.PhotoUrl" data-lightbox="@Model.AlbumDescription.AlbumId">
                        <img src="/Images/Photos/MIN/@photo.PhotoUrl" class="img-responsive"/>
                        <div class="img-description">
                            <span>@photo.PhotoTitle</span>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/nicescroll")
    @Scripts.Render("~/bundles/album-photos-from-blog-scripts")

}
